.categories-container {
  margin-top: 20px;
  padding: 10px 20px;
}

.cat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cat-header h2 {
  font-size: 22px;
  font-weight: 700;
}

.view-all {
  color: orange;
  cursor: pointer;
}

.categories-list {
  margin-top: 15px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.category-card {
  min-width: 90px;
  background: #fff;
  padding: 12px;
  border-radius: 100px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.category-card:hover {
  transform: scale(1.07);
}

.category-card img {
  width: 50px;
  height: 50px;
}

.category-card p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
}
